{% extends 'base.html.twig' %}
{% block body %}

    <p>to jest search</p>

            {% if data is defined %}
{#                <p>wpisales\: {{data.city}}</p>#}
{#                <p>Znaleziono {{data.dbData_count}} ofert</p>#}
                <span><a href="{{ data.page-1 }}">Prev</a><p>{{ data.page }}</p><a href="search/{{ data.page+1 }}">Next</a></span>
                <table id="offers" class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th onclick="sortTable(0)">City </th>
                        <th onclick="sortTable(1)">Company Name</th>
                        <th onclick="sortTable(2)">Job Title</th>
                        <th onclick="sortTable(3)">Skills</th>
                        <th onclick="sortTable(4)">Salary from</th>
                        <th onclick="sortTable(5)">Salary to</th>
                        <th onclick="sortTable(6)">Published</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for key, job in data.dbData %}
                        <tr>
                            <td>{{job.city}}</td>
                            <td><a href="{{ job.companyUrl }}" target="_blank">{{job.companyname}}</a></td>
                            <td>{{job.title}}</td>
                            <td>{{job.skills}}</td>
                            <td>{{job.salaryFrom}}</td>
                            <td>{{job.salaryTo}}</td>
                            <td>{{job.publishedAt|date("d/m/Y")}}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

{% endblock %}
{% block javascripts %}
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("offers");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount ++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
{% endblock %}